<%- include('header') %>
    <div class="box" id="heading">
        <h1>
            <%= kindOfDay %> <br>
                <!-- <%= currentTime %> -->
        </h1>

    </div>

    <div class="box">
        <% for( var i = 0; i < newListTasks.length; i++ ) { %>
            <div class="task">
                <input type="checkbox">
                <p>
                    <%= newListTasks[i] %>
                </p>
            </div>

            <% } %>
                <form class="" action="/" method="post">
                    <input type="text" , name="newTask" placeholder="New Task" autocomplete="off">
                    <button type="submit" name="button">Add</button>
                </form>
    </div>

    <%- include('footer') %>